<!-- <div class="container"> -->
<!-- <div class="panel panel-defautl"> -->

<a href="/pictures"><img src=" /assets/ctlogoanimationlong7.png "alt="Chef Tech"  height="310px" width="420px" onmouseover="this.src=' /assets/ctlogoanimation.gif '" onmouseout="this.src=' /assets/ctlogoanimationlong7.png '"class="img-responsive center-block">
</a>
<h5 class="page-header text-center">New Picture</h5>
<!-- <div class="panel-body"> -->


<%= render 'form' %>

<%= link_to 'Back', pictures_path, style: "color:white", class: "btn stylish-color btn-block"%>
<!-- </div>
</div>
</div> -->
